In [1]:
import pandas as pd

In [2]:
%load_ext autoreload
%autoreload 2
import nncomp
from nncomp_molecule import constants

In [3]:
train_df = pd.read_csv(constants.COMPETITION_DATADIR / "train_labels.csv")
train_df.head()

       image_id                                              InChI
0  000011a64c74  InChI=1S/C13H20OS/c1-9(2)8-15-13-6-5-10(3)7-12...
1  000019cc0cd2  InChI=1S/C21H30O4/c1-12(22)25-14-6-8-20(2)13(1...
2  0000252b6d2b  InChI=1S/C24H23N5O4/c1-14-13-15(7-8-17(14)28-1...
3  000026b49b7e  InChI=1S/C17H24N2O4S/c1-12(20)18-13(14-7-6-10-...
4  000026fc6c36  InChI=1S/C10H19N3O2S/c1-15-10(14)12-8-4-6-13(7...

In [4]:
splitter = nncomp.splitters.KFoldSplitter(
    n_splits=5,
    seed=0,
)
folds_df = train_df[["image_id"]].assign(**splitter(train_df))
folds_df

             image_id  fold
0        000011a64c74     0
1        000019cc0cd2     3
2        0000252b6d2b     0
3        000026b49b7e     4
4        000026fc6c36     0
...               ...   ...
2424181  ffffe824f539     0
2424182  ffffea1ebdfa     2
2424183  ffffee2b4534     4
2424184  fffff0b6eea6     3
2424185  fffff608dd38     2

[2424186 rows x 2 columns]

In [5]:
outdir = constants.INPUTDIR / "kfujikawa/bms-kfold"
outdir.mkdir(parents=True, exist_ok=True)
folds_df.to_csv(outdir / "5fold.csv", index=False)